/* .login-form {
    margin: 5rem;
}
 */
.login-header {
    justify-content: center;
    margin-top: 2rem;
}

.enter-username-text {
    font-weight: 500;
    margin-left: 4rem;
}

.username-form {
    justify-content: center;
}

.form-input.form-control {
    max-width: 100%;
}

.form-btn {
    margin-left: 1rem;
}