.page {
    margin: 10rem;

}

.trips {
    margin-right: 5rem;
    margin-left: 5rem;
}

.table {
    margin: 1rem;
    background-color: aliceblue;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit {
    width: 80%;
}
